body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px 0;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.product img {
    width: 100%;
    border-radius: 5px;
}

.product h3 {
    text-align: center;
}

.product p {
    margin-top: 10px;
}

.product span {
    font-weight: bold;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"], input[type="email"], input[type="password"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"] {
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background: #45a049;
}
img{
    width: 200px;
    height: 250px;
}
.products-container{
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

   
}
h1{
    color: white;
    border: none;
    cursor: pointer;
}
.signup {
    background-color: #45a049;
}
